//Book Card - home page

.book-section {
  list-style: none;
}

//Book Card - category page
.books-container-category{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.books-container-category--margin-bottom{
  margin-bottom: 40px;
}

//Book Card
.book-margin-bottom{
  margin-bottom: 8px;
}

.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 335px;
  list-style: none;
  margin-bottom: 40px;

  @include tablet {
    width: 704px;
  }
  @include desktop {
    width: 996px;
  }

  &__section {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    list-style: none;
    align-items: center;
    overflow: hidden;
    align-items: baseline;

    @include tablet {
      flex-direction: row;
    }

    &--margin-bottom {
      margin-bottom: 8px;

      @include tablet {
        margin-bottom: 20px;
      }

      @include desktop {
        margin-bottom: 32px;
      }
    }
  }
  
  &__component {
    width: 180px;
  }
  &__image {
    width: 335px;
    height: 485px;
    border-radius: 8px;

    @include tablet{
      width: 218px;
      height: 316px;
    }

    @include desktop{
      width: 180px;
      height: 256px;
    }
  }

  &__title {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111111;

    &--margin-bottom {
      margin-bottom: 4px;
    }
  }

  &__author {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #b4afaf;
  }
}

//Book Card Hover

.book-card__image-container {
  position: relative;
  overflow: hidden;

  &--margin-bottom {
    margin-bottom: 14px;
  }
}
.book-card__image-container::after {
  content: 'Quick View';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-secondary);
  width: 100%;
  height: 70px;
  transform: translateY(200%);

  z-index: 1;
  opacity: 0;
  border-radius: 0px 0px 8px 8px;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--text-color-main);

  transition: transform 250ms ease-in-out;
}

.book-card__image-container:hover::after {
  cursor: pointer;
  transform: translateY(0%);
  opacity: 1;
}
