.dark-theme,
.dark-theme .about-book-modal {
  background-color: var(--background-dark);
}

.dark-theme .header__icon--bookshelf,
.dark-theme .paginationToStart__icon,
.dark-theme .header__menu-button {
  background-color: inherit;
  fill: var(--svg-color);
  border: none;
}

.dark-theme .card-shopping__picture-amazon,
.dark-theme .modal-icon-amazon,
.dark-theme .icon-close-book,
.dark-theme .icon-lock-header {
  filter: brightness(0) invert(100%);
}

.dark-theme .container-header,
.dark-theme .card-shopping__container {
  background-color: var(--text-color-main);
}

.dark-theme .header__home-text,
.dark-theme .header__shopping-list-text,
.dark-theme .book-card__title,
.dark-theme .header-one,
.dark-theme .listCards__head,
.dark-theme .txt-book-modal,
.dark-theme .title-book-modal,
.dark-theme .card-shopping__head,
.dark-theme .card-shopping__shortDescription {
  color: var(--background-white);
}

.dark-theme .button {
  color: var(--background-white);
  &:hover,
  &:focus {
    color: var(--text-color-main);
  }
}

.dark-theme .add-storage-button,
.dark-theme .remove-modal-btn {
  color: var(--background-white);
  &:hover,
  &:focus {
    background-color: var(--accent-primary);
    color: var(--text-color-main);
  }
}

.dark-theme .btnPag {
  &:hover,
  &:focus {
    background-color: var(--accent-secondary);
  }
}

.dark-theme .paginationOne,
.dark-theme .paginationTwo,
.dark-theme .paginationThree,
.dark-theme .paginationPoint {
  background-color: inherit;
  border-color: var(--background-white);
  color: var(--background-white);

  &:hover,
  &:focus {
    background-color: var(--background-white);
    border-color: var(--text-color-main);
    color: var(--text-color-main);
    fill: var(--text-color-main);
  }
}

.dark-theme .paginationToStart,
.dark-theme .paginationPrevEl {
  &:hover,
  &:focus {
    background-color: var(--accent-secondary);
  }
}

.dark-theme .menu-item-light {
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
  transition: color 0.5s ease, text-transform 0.5s ease;

  &:hover,
  &:focus {
    color: var(--accent-secondary);
    text-transform: uppercase;
  }
}

.dark-theme .shopping-list__emptyListDescription {
  color: rgba(255, 255, 255, 0.6);
}

.dark-theme .storage-description {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme.page-main .header__home-link,
.dark-theme.page-shopping-list .header__shopping-list-link,
.dark-theme.page-shopping-list .icon-lock-header {
  color: var(--text-color-main);
  filter: none;
}
