@import '~node_modules/modern-normalize/modern-normalize.css';
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --text-color-main: #111111;
  --text-color-secondary: #b4afaf;
  --background-dark: #202024;
  --accent-primary: #4f2ee8;
  --accent-secondary: #eac645;
  --background-white: #ffffff;
  --background-grey: #f6f6f6;
  --color-total-black: #000000;
  --svg-color: #f3f3f3;
}

body {
  background-color: var(--background-grey);
}

/*Responsive mixins begins*/
/*Responsive up to 374px*/
/*Mobile*/
/*Tablet*/
/*Desktop*/
/*Responsive mixins ends*/
/*Container for the whole website*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 110px;
}
@media only screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    width: 1392px;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1440px) {
  .container__both-sections {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .container__column-left {
    display: flex;
  }
}
@media only screen and (min-width: 1440px) {
  .container__column-left {
    width: 356px;
    margin-right: 40px;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1440px) {
  .container__column-right {
    flex-grow: 1;
  }
}

/*Paddings for every website section*/
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 375px) {
  .section {
    width: 287px;
  }
}
@media only screen and (min-width: 768px) {
  .section {
    width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .section {
    width: 996px;
  }
}

/*Mobile - Default*/
/*h1*/
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .header-one {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.04em;
    color: var(--text-color-main);
  }
  .header-one--accent {
    color: var(--accent-primary);
  }
  /*h2*/
  /*h2-big*/
  /*h3*/
  /*h4*/
  /*button*/
  /*main text*/
  /*menu elements-light theme*/
  /*menu elements-dark theme*/
  /*small grey text p, p_big*/
}
@media only screen and (max-width: 374px) and (min-width: 768px), only screen and (min-width: 375px) and (min-width: 768px) {
  .header-one {
    font-size: 48px;
    line-height: 1.08;
  }
}
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .header-two {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-secondary);
  }
  .header-two--margin-bottom {
    margin-bottom: 18px;
  }
}
@media only screen and (max-width: 374px) and (min-width: 768px), only screen and (min-width: 375px) and (min-width: 768px) {
  .header-two {
    line-height: 1.71;
  }
}
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .header-two-big {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: -0.04em;
    color: var(--text-color-main);
  }
}
@media only screen and (max-width: 374px) and (min-width: 768px), only screen and (min-width: 375px) and (min-width: 768px) {
  .header-two-big {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .header-three {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--text-color-main);
  }
}
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .header-four {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.04em;
    color: var(--background-white);
  }
}
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .text-main {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--text-color-main);
  }
}
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .menu-item-light {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
  }
}
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .menu-item-light:hover,
  .menu-item-light:focus {
    color: var(--accent-primary);
    text-transform: uppercase;
  }
}
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .menu-item-dark {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
  }
}
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .menu-item-dark:hover,
  .menu-item-dark:focus {
    color: var(--accent-secondary);
    text-transform: uppercase;
  }
}
@media screen and (max-width: 374px), screen and (min-width: 375px) {
  .text-additional {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: var(--text-color-secondary);
  }
}
@media only screen and (max-width: 374px) and (min-width: 768px), only screen and (min-width: 375px) and (min-width: 768px) {
  .text-additional {
    font-size: 12px;
  }
}
.button {
  display: inline-block;
  padding: 14px 28px;
  border: 2px solid var(--accent-primary);
  border-radius: 40px;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
  color: var(--text-color-main);
}
.button--yellow {
  background-color: var(--accent-secondary);
}
.button--right {
  margin-left: 0;
  text-align: right;
}
.button--right-flex {
  align-self: end;
}

.button:hover,
.button:focus {
  color: var(--background-white);
  background-color: var(--accent-primary);
}

#back-to-top-button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
  cursor: pointer;
  z-index: 999;
  border-radius: 50%;
  outline: none;
  background-color: var(--accent-primary);
  border: none;
  width: 64px;
  height: 64px;
}

#back-to-top-button:hover {
  border: 5px solid rgba(255, 255, 255, 0.3);
}

.scroll-icon {
  fill: var(--background-white);
}

.category-list {
  width: 100%;
  height: 228px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  margin-bottom: 40px;
  gap: 24px;
}
@media (min-width: 768px) {
  .category-list {
    width: 337px;
    height: 472px;
    gap: 32px;
    margin-bottom: 100px;
    margin-right: 32px;
  }
}
@media (min-width: 1440px) {
  .category-list {
    width: 356px;
    height: 472px;
    margin-bottom: 86px;
  }
}

.menu-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
@media (min-width: 768px) {
  .menu-category {
    gap: 32px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}
.header__link {
  display: flex;
  align-items: center;
  width: 109px;
  height: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 145px;
}
@media screen and (min-width: 768px) {
  .header__link {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .header__link {
    margin-right: 76px;
  }
}
.header__icon--logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.header__icon--bookshelf {
  width: 77px;
  height: 13px;
}
.header__switch {
  margin-right: 17px;
}
@media screen and (min-width: 768px) {
  .header__switch {
    margin-left: 105px;
    margin-right: 240px;
  }
}
@media screen and (min-width: 1440px) {
  .header__switch {
    margin-left: 746px;
    margin-right: 232px;
  }
}
@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-button .header__icon-burger {
  display: none;
}
.header__menu-button.is-open .header__icon-burger {
  display: block;
}
.header__menu-button .header__icon-close {
  display: block;
}
.header__menu-button.is-open .header__icon-close {
  display: none;
}
.header__drop-down-menu {
  position: fixed;
  flex-flow: column;
  height: 100%;
  background: linear-gradient(#4F2EE8, #FFFFFF);
  overflow: hidden;
  overscroll-behavior: none;
  z-index: 1;
  display: none;
}
.header__drop-down-menu.is-open {
  display: block;
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
}
.header__drop-down-link {
  width: 72px;
  height: 34px;
  display: flex;
  align-items: center;
  margin-top: 247px;
  margin-left: 129px;
  margin-right: 174px;
}
.header__shopping-list {
  display: flex;
  align-items: center;
  margin-top: 17px;
  margin-left: 129px;
  margin-right: 128px;
  width: 118px;
  height: 20px;
  text-decoration: none;
}
.header__drop-down-text {
  text-transform: uppercase;
  color: var(--background-white);
  font-size: 14px;
  line-height: 0.7;
}
.header__icon-lock {
  width: 20px;
  height: 20px;
  fill: var(--background-white);
}
.header__img {
  width: 450px;
  height: 439px;
  top: 443px;
  overflow: hidden;
}
.header__container-drop-down {
  overflow: hidden;
}
.header__home-link-active {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__home-link-active {
    display: block;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .header__home-link-active {
    margin-right: 24px;
  }
}
.header__home-link-passive {
  display: none;
}
.header__shopping-list-passive {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__shopping-list-passive {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color-main);
  }
}
@media screen and (min-width: 768px) {
  .header__text-SL {
    margin-right: 7px;
  }
}
.header__shopping-list-active {
  display: none;
}

body {
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
}

.switch-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 100vw;
}

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.switch__input {
  display: none;
}
.switch__input:checked + .switch__icon {
  background: linear-gradient(#4F2EE8, #686868);
}
.switch__input:checked + .switch__icon:before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.switch__input:checked + .switch__icon:after {
  transform: translate3d(20px, 2px, 0);
}
.switch__icon {
  position: relative;
  display: inline-block;
  max-width: 42px;
  min-width: 42px;
  min-height: 24px;
  max-height: 24px;
  background-color: #bebebe;
  border-radius: 22px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.switch__icon:before {
  content: "";
  position: absolute;
  left: 0;
  width: 38px;
  height: 20px;
  background: linear-gradient(#4F2EE8, #DCDCDC);
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scaleX(1);
  transition: all 0.25s linear;
}
.switch__icon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.switch__span {
  font-size: 14px;
  margin-left: 5px;
  font-weight: 400;
}

.container-header {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 375px;
}

.menu-container.is-open {
  display: block;
  position: fixed;
  z-index: 1;
}

.book-section {
  list-style: none;
}

.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 335px;
  list-style: none;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .book-card {
    width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .book-card {
    width: 996px;
  }
}
.book-card__section {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  list-style: none;
  align-items: center;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .book-card__section {
    flex-direction: row;
  }
}
.book-card__section--margin-bottom {
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .book-card__section--margin-bottom {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .book-card__section--margin-bottom {
    margin-bottom: 32px;
  }
}
.book-card__component {
  width: 180px;
}
.book-card__image {
  width: 335px;
  height: 485px;
  border-radius: 8px;
}
@media only screen and (min-width: 768px) {
  .book-card__image {
    width: 218px;
    height: 316px;
  }
}
@media only screen and (min-width: 1440px) {
  .book-card__image {
    width: 180px;
    height: 256px;
  }
}
.book-card__title {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111111;
}
.book-card__title--margin-bottom {
  margin-bottom: 4px;
}
.book-card__author {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.book-card__image-container {
  position: relative;
  overflow: hidden;
}
.book-card__image-container--margin-bottom {
  margin-bottom: 14px;
}

.book-card__image-container::after {
  content: "Quick View";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-secondary);
  width: 100%;
  height: 70px;
  transform: translateY(200%);
  z-index: 1;
  opacity: 0;
  border-radius: 0px 0px 8px 8px;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--text-color-main);
  transition: transform 250ms ease-in-out;
}

.book-card__image-container:hover::after {
  cursor: pointer;
  transform: translateY(0%);
  opacity: 1;
}

h1, h2, h3 {
  margin: 0;
}

.card-shopping__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  position: relative;
  padding: 14px 14px;
  width: 335px;
  height: 170px;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .card-shopping__container {
    padding: 24px 24px;
    width: 704px;
    height: 213px;
    gap: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .card-shopping__container {
    width: 996px;
  }
}
.card-shopping__img {
  width: 100px;
  height: 142px;
}
@media screen and (min-width: 768px) {
  .card-shopping__img {
    width: 116px;
    height: 165px;
  }
}
.card-shopping__head {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "dm_sansregular";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: var(--text-color-main);
  width: 144px;
}
@media screen and (min-width: 768px) {
  .card-shopping__head {
    width: 100%;
  }
}
.card-shopping__shortDescription {
  margin: 8 0 14;
  display: block;
  box-sizing: border-box;
  width: 193px;
  height: 55px;
  font-family: "dm_sansregular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-main);
}
@media screen and (min-width: 768px) {
  .card-shopping__shortDescription {
    width: 508px;
    height: 53px;
    margin: 14 0 48;
  }
}
@media screen and (min-width: 1440px) {
  .card-shopping__shortDescription {
    width: 808px;
    height: 53px;
  }
}
.card-shopping__author {
  font-family: "dm_sansregular";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  white-space: nowrap;
  margin: 0;
  color: var(--text-color-secondary);
}
.card-shopping____categoryBook {
  font-family: "dm_sansregular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}
.card-shopping__delCard {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  border-radius: 50%;
  background-color: var(--accent-primary);
}
@media screen and (min-width: 768px) {
  .card-shopping__delCard {
    top: 24px;
    right: 24px;
  }
}
.card-shopping__delCardIcon {
  top: 50%;
  right: 50%;
  transform: translate(30%, 30%);
}
.card-shopping__author-links-container {
  width: 193px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .card-shopping__author-links-container {
    width: 100%;
  }
}
.card-shopping__listLinks {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
@media screen and (min-width: 768px) {
  .card-shopping__listLinks {
    gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .card-shopping__pictureEmptyCont {
    width: 322px;
    height: 241px;
  }
}

.listCards {
  margin: 40px 0 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.listBtnItem {
  width: 44px;
  height: 44px;
  position: relative;
}

.btnPag {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
}

.card-shopping__btnContainer {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.listBtnItem:nth-child(-n+2) .btnPag {
  background-color: var(--text-color-main);
}

.listBtnItem:nth-child(n+7) .btnPag {
  background-color: var(--accent-secondary);
}

.listBtnItem:nth-child(n+7) .iconRight {
  fill: #000000;
}

.listBtnItem:nth-child(5) {
  display: none;
}
@media screen and (min-width: 768px) {
  .listBtnItem:nth-child(5) {
    display: block;
  }
}

.paginationToStart__icon {
  fill: var(--text-color-secondary);
}

.paginationToStart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: -2px;
}

.paginationToEnd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: -2px;
}

.paginationOne,
.paginationTwo,
.paginationThree {
  font-family: "dm_sansregular";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color-main);
}

.listCards__head {
  font-family: "dm_sansregular";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  color: var(--text-color-main);
}

.listCards__headColor {
  color: var(--accent-primary);
}

.shopping-list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
}

.shopping-list__emptyListContainer {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0 0;
}
@media screen and (min-width: 768px) {
  .shopping-list__emptyListContainer {
    margin: 140px 0 0;
  }
}

.shopping-list__emptyListDescription {
  font-family: "dm_sansregular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.support {
  width: 335px;
  height: 352px;
  padding-top: 24px;
  position: relative;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, var(--accent-primary) 18.03%, var(--background-white) 100%);
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
}
@media screen and (min-width: 1440px) {
  .support {
    width: 356px;
    height: 490px;
  }
}

.support-container {
  padding-left: 40px;
}

.support__title-container {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  height: 32px;
}

.support__title {
  color: var(--background-white);
  margin-right: 12px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1.14%;
  letter-spacing: -0.04em;
}

.support__link {
  display: flex;
  align-items: center;
}
.support__link:hover > .support__number, .support__link:focus > .support__number {
  color: var(--accent-secondary);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.support__link:hover > .support__img, .support__link:focus > .support__img {
  filter: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.support__number {
  height: 18px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29%;
  letter-spacing: -0.04em;
  color: var(--background-white);
}

.support__img {
  height: 32px;
  filter: brightness(0) invert(1);
}

.swiper-container {
  width: 159px;
  height: 188px;
  overflow: hidden;
}
@media screen and (min-width: 1440px) {
  .swiper-container {
    width: 159px;
    height: 292px;
  }
}

.swiper-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.swiper-button-next {
  z-index: 1 !important;
}

.swiper-button-next {
  width: 38px !important;
  height: 38px !important;
  position: absolute;
  transform: rotate(90deg);
  color: #4f2ee8 !important;
  background-color: #fff;
  border-radius: 50%;
  top: 320px !important;
  right: auto !important;
  left: auto !important;
}
@media screen and (min-width: 1440px) {
  .swiper-button-next {
    top: 440px !important;
  }
}

.swiper-button-next:after {
  font-size: 16px !important;
  font-weight: 900 !important;
}

@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: italic;
  src: url("/src/fonts/dmsans-bolditalic-webfont.woff");
  src: local(""), url("/src/fonts/dmsans-bolditalic-webfont.woff2") format("woff2"), url("/src/fonts/dmsans-bolditalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  src: url("/src/fonts/dmsans-bold-webfont.woff");
  src: local(""), url("/src/fonts/dmsans-bold-webfont.woff2") format("woff2"), url("/src/fonts/dmsans-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: italic;
  src: url("/src/fonts/dmsans-mediumitalic-webfont.woff");
  src: local(""), url("/src/fonts/dmsans-mediumitalic-webfont.woff2") format("woff2"), url("/src/fonts/dmsans-mediumitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  src: url("/src/fonts/dmsans-medium-webfont.woff");
  src: local(""), url("/src/fonts/dmsans-medium-webfont.woff2") format("woff2"), url("/src/fonts/dmsans-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: italic;
  src: url("/src/fonts/dmsans-italic-webfont.woff");
  src: local(""), url("/src/fonts/dmsans-italic-webfont.woff2") format("woff2"), url("/src/fonts/dmsans-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/src/fonts/dmsans-regular-webfont.woff");
  src: local(""), url("/src/fonts/dmsans-regular-webfont.woff2") format("woff2"), url("/src/fonts/dmsans-regular-webfont.woff") format("woff");
}
.light-theme main {
  background-color: var(--background-grey);
}

.light-theme .header__icon--bookshelf {
  fill: var(--color-total-black);
}

.light-theme .paginationToStart__icon {
  fill: var(--text-color-secondary);
}

.light-theme .container-header {
  background-color: var(--background-white);
}

.light-theme .header__text-SL,
.light-theme .book-card__title,
.light-theme .header-one,
.light-theme .listCards__head,
.light-theme .button {
  color: var(--text-color-main);
}

.light-theme .paginationOne,
.light-theme .paginationTwo,
.light-theme .paginationThree {
  color: var(--text-color-main);
}
.light-theme .paginationOne:hover, .light-theme .paginationOne:focus,
.light-theme .paginationTwo:hover,
.light-theme .paginationTwo:focus,
.light-theme .paginationThree:hover,
.light-theme .paginationThree:focus {
  color: var(--background-white);
}

.light-theme .btnPag {
  background-color: inherit;
  border-color: var(--text-color-main);
}
.light-theme .btnPag:hover, .light-theme .btnPag:focus {
  background-color: var(--text-color-main);
  border-color: var(--background-white);
}

.light-theme .menu-item-light {
  color: rgba(17, 17, 17, 0.6);
}
.light-theme .menu-item-light:hover, .light-theme .menu-item-light:focus {
  color: var(--accent-primary);
}

.light-theme .shopping-list__emptyListDescription {
  color: rgba(0, 0, 0, 0.6);
}

.dark-theme main {
  background-color: var(--background-dark);
}

.dark-theme .header__icon--bookshelf,
.dark-theme .paginationToStart__icon {
  fill: var(--svg-color);
}

.dark-theme .container-header {
  background-color: var(--text-color-main);
}

.dark-theme .header__text-SL,
.dark-theme .book-card__title,
.dark-theme .header-one,
.dark-theme .listCards__head,
.dark-theme .button {
  color: var(--background-white);
}

.dark-theme .paginationOne,
.dark-theme .paginationTwo,
.dark-theme .paginationThree {
  color: var(--background-white);
}
.dark-theme .paginationOne:hover, .dark-theme .paginationOne:focus,
.dark-theme .paginationTwo:hover,
.dark-theme .paginationTwo:focus,
.dark-theme .paginationThree:hover,
.dark-theme .paginationThree:focus {
  color: var(--text-color-main);
}

.dark-theme .btnPag {
  background-color: inherit;
  border-color: var(--background-white);
}
.dark-theme .btnPag:hover, .dark-theme .btnPag:focus {
  background-color: var(--background-white);
  border-color: var(--text-color-main);
}

.dark-theme .menu-item-light {
  color: rgba(255, 255, 255, 0.6);
}
.dark-theme .menu-item-light:hover, .dark-theme .menu-item-light:focus {
  color: var(--accent-secondary);
}

.dark-theme .shopping-list__emptyListDescription {
  color: rgba(255, 255, 255, 0.6);
}/*# sourceMappingURL=index.css.map */