<header style="position: fixed;z-index: 5;background-color: white;scroll-behavior: unset;">
    <div class="container-header header-nav">
        <a href="/src/index.html" class="header__link">
            <svg class="header__icon--logo" aria-label="Іконка логотипа">
                <use href="/src/images/logo.svg#icon-logo"></use> 
            </svg>
            <svg class="header__icon--bookshelf" aria-label="Текст логотипу">
                <use href="/src/images/logo.svg#icon-Bookshelf"></use>
            </svg>
        </a>
        <a href="/src/index.html" class="header__home-link-active">
            <svg class="header__home-active" width="72", height="34">
                <use href="/src/images/symbol-defs.svg#icon-home"></use>
            </svg>
        </a>
        <a href="/src/index.html" class="header__home-link-passive">home</a>
        <a href="/src/shopping-list.html" class="header__shopping-list-passive">
            <p class="header__text-SL">Shopping list</p>
            <svg width="20", height="20">
                <use href="/src/images/symbol-defs.svg#icon-lock"></use>
            </svg>
        </a>
        <a href="/src/shopping-list.html" class="header__shopping-list-active">
            <svg class="header__shopping-list-active" width="156", height="34">
                <use href="/src/images/symbol-defs.svg#icon-shopping"></use>
            </svg>
        </a>

        <div class="header__switch">
            <label class="switch">
            <input class="switch__input" type="checkbox" />
            <i class="switch__icon"></i>
        </div>
        <button type="button" class="header__menu-button is-open" data-menu-button
        aria-expanded="false"> 
            <svg width="28" height="28" aria-label="Перемикач мобільного меню">
                <use class="header__icon-burger" href="/src/images/symbol-defs.svg#icon-burger"></use>
                <use class="header__icon-close" href="/src/images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
    </div>
    <nav class="header__drop-down-menu" data-menu>
        <div class="header__container-drop-down">
            <a href="/src/index.html" class="header__drop-down-link">
                <svg class="header__icon-home">
                    <use href="/src/images/symbol-defs.svg#icon-home"></use>
                </svg>
            </a>
            <a href="/src/shopping-list.html" class="header__shopping-list">
                <p class="header__drop-down-text">Shopping list</p>
                <svg class="header__icon-lock">
                    <use href="/src/images/symbol-defs.svg#icon-lock"></use>
                </svg>
            </a>
            <img class="header__img" src="/src/images/Group.png" alt="Group-drop-down">
        </div>
        
    </nav>
        
</header>