<div class="container-header header-nav">
  <a href="/src/index.html" class="header__link">
    <svg class="header__icon--logo" aria-label="Іконка логотипа">
      <use href="/src/images/logo.svg#icon-logo"></use>
    </svg>
    <svg class="header__icon--bookshelf" aria-label="Текст логотипу">
      <use href="/src/images/logo.svg#icon-Bookshelf"></use>
    </svg>
  </a>
  <div class="header__box">
    <a
      href="/src/index.html"
      class="header__home-link header__home-active header__home-text"
    >
      home
    </a>
    <a
      href="/src/shopping-list.html"
      class="header__shopping-list-link header__shopping-list-active header__shopping-list-text"
    >
      Shopping list
      <svg class="icon-lock-header" width="20" height="20">
        <use href="/src/images/symbol-defs2.svg#icon-lock"></use>
      </svg>
    </a>
  </div>
  <div class="header__switch">
    <label class="switch" />
    <input class="switch__input" type="checkbox" />
    <i class="switch__icon"></i>
  </div>
  <button
    type="button"
    class="header__menu-button is-open"
    data-menu-button
    aria-expanded="false"
  >
    <svg width="28" height="28" aria-label="Перемикач мобільного меню">
      <use
        class="header__icon-burger"
        href="/src/images/symbol-defs2.svg#icon-burger"
      ></use>
      <use
        class="header__icon-close"
        href="/src/images/symbol-defs2.svg#icon-close"
      ></use>
    </svg>
  </button>
</div>
<nav class="header__drop-down-menu" data-menu>
  <div class="header__container-drop-down">
    <a
      href="/src/index.html"
      class="header__drop-down-link header__home-active js__home_mobile"
    >
      <p class="header__drop-down-text-home">home</p>
    </a>
    <a
      href="/src/shopping-list.html"
      class="header__shopping-list header__drop-down--SL"
    >
      <p class="header__drop-down-text">Shopping list</p>
      <svg class="header__icon-lock">
        <use href="/src/images/symbol-defs2.svg#icon-lock"></use>
      </svg>
    </a>
  </div>
</nav>
