.category-list {
  width: 100%;
  height: 228px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  margin-bottom: 40px;
  gap: 24px;

  @media (min-width: $tablet) {
    width: 337px;
    height: 472px;

    gap: 32px;
    margin-bottom: 100px;
   
  }
  @media (min-width: $desktop) {
    width: 356px;
    height: 472px;

    margin-bottom: 86px;
  }
}
.menu-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  @media (min-width: $tablet) {
    gap: 32px;
  }
}
