.about-book-modal {
    display: block;
    width: 335px;
    padding: 40px 24px;
    border: 2px solid #111111;
    border-radius: 18px;
    
}

.image__about-book-modal {
    width: 278px;
    height: 408px;
}

.close-modal-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    cursor: pointer;
}
.js-backdrop-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        
background: transparent;
    opacity: 1;
    -webkit-transition: visibility, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // transform: translateY(50%) scale(0);
    transition: .4s ease-in-out;
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}