#back-to-top-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    cursor: pointer;
    z-index: 999;
    border-radius: 50%;
    outline: none;
    background-color: var(--accent-primary);
    border: none;
    width: 64px;
    height: 64px;
}

#back-to-top-button:hover {
    border: 5px solid rgba(255, 255, 255, 0.3);
}