/*Container for the whole website*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;

    @include tablet{
        padding-left: 32px;
        padding-right: 32px;
    }

    @include desktop{
        padding-left: 24px;
        padding-right: 24px;
    }

    &__column-left{
        @include tablet{
            display: flex;
        }
        @include desktop{
            margin-right: 40px;
            flex-direction: column;
        }
    }
}