/*Container for the whole website*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 110px;

  & > .container__column-right {
    margin: 0 auto;
  }

  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    width: 1392px;
    flex-direction: column;
  }

  &__both-sections {
    @include desktop {
      display: flex;
      justify-content: center;
    }
  }

  &__column-left {
    @include tablet {
      display: flex;
      gap: 32px;
    }
    @include desktop {
      // width: 356px;
      margin-right: 40px;
      flex-direction: column;
    }
  }

  &__column-right {
    @include desktop {
      flex-grow: 1;
    }
  }
}
